In [1]:
import pyomo.environ as pyo
from pyomo.opt import SolverFactory
import pandas as pd
import numpy as np

In [2]:
routes_df=pd.read_csv(r'737crew edit.csv')
flights_df=pd.read_excel(r'fleet assignment result.xlsx')

In [3]:
flights_df.set_index('fleet',inplace=True)
flights_df=flights_df.loc[737]
# Convert flight information to a dictionary for easy lookup
flight_costs = flights_df.set_index('flight')['duration'].to_dict()

# Function to calculate total cost for each route
def calculate_route_cost(route):
    total_cost = 0
    for flight_id in route:
        total_cost += flight_costs.get(flight_id, 0)
    return total_cost

# Calculate total cost for each route and add it as a new column in routes_df
routes_df['Total'] = routes_df.apply(lambda row: calculate_route_cost(row.dropna().tolist()), axis=1)
routes_df

     trip1  trip2  trip3  trip4  trip5  trip6  trip7  trip8  cost  Total
0      122      0      0      0    101      0      0      0     3   11.0
1      122      0      0      0    101    142    121      0     3   13.0
2      122      0      0      0    102      0      0      0     3   11.0
3      122      0      0      0    103      0      0      0     3   11.0
4      123      0      0      0    101      0      0      0     3   11.0
..     ...    ...    ...    ...    ...    ...    ...    ...   ...    ...
196    142    121    130      0    109      0      0      0     3    6.0
197    142    121    139      0    116      0      0      0     3    5.0
198    142    121    139      0    116    128    108      0     3    9.0
199    142    121    139      0    117      0      0      0     3    5.0
200    142    121    139      0    117    141    120      0     3    7.0

[201 rows x 10 columns]

In [4]:
routes_df.to_csv("total.csv")

In [5]:
# Convert flight information to a dictionary for easy lookup
flight_costs = flights_df.set_index('flight')['duration'].to_dict()

# Function to create binary matrix indicating flight coverage by routes
def flight_coverage_matrix(route):
    coverage = []
    for flight_id in flight_costs.keys():
        if flight_id in route:
            coverage.append(1)
        else:
            coverage.append(0)
    return coverage

# Create binary matrix for flight coverage by routes
coverage_matrix = routes_df.apply(lambda row: flight_coverage_matrix(row.dropna().tolist()), axis=1)

# Convert the binary matrix to a DataFrame
a = pd.DataFrame(coverage_matrix.to_list(), columns=flight_costs.keys())
a

,101,102,103,104,106,107,108,109,112,115,...,128,129,130,132,134,137,139,140,141,142
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
198,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,1
199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,1

In [6]:
a.to_csv("param.csv")